{
  "branches": ["main", "master"],
  "repositoryUrl": "https://github.com/Fersubair40/png-download-link",
  "debug": "true",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist/",
        "npmPublish": true,
        "tarballDir": "dist/",
        "access": "public"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}